DirectoryIndex index.html

# Handles rewriting old HTML filenames for the P4Convert.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # The following looks way too complicated to be necessary, but in fact it is.
  # It is not straightforward to redirect to renamed files that used to exist
  # in a subdirectory AND be agnostic to where these files live in the document
  # root.
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond $1#%{REQUEST_URI} ([^#]*)#(.*)\1$
  RewriteRule ^(p4convert-svn.html)$       %2index.html [QSA,R,L]
</IfModule>
